@charset "UTF-8";
/*********************************************
note : reset
*********************************************/
#header-wrapper {position:relative;z-index:99;margin-bottom:1.875rem}
#header-wrapper ul, #header-wrapper ol {margin:0;padding:0;list-style:none}
#header-wrapper em ,#header-wrapper i {font-style:normal}
#header-wrapper button {cursor:pointer}
#header-wrapper .no-bullet {margin-bottom:0}
#header-wrapper .has-tip {border:0}
#header-wrapper.basic, #header-wrapper .mode-inner, #nav-header {margin-left:auto;margin-right:auto}
#header-wrapper .mode-inner::after {content:'';display:table;clear:both}

/*********************************************
note : 로고영역
*********************************************/
/* 기본 */
#nav-header {padding:2rem 0 1.375rem;font-size:0}
#nav-header > [class*="user-"] {display:inline-block;vertical-align:middle}
#nav-header .user-logo {width:calc(100% - 600px);font-size:inherit}
#nav-header .user-banner {width:300px}

/*********************************************
note : 최상단영역
*********************************************/
/* 기본 */
#user-gnb {position:relative}
#user-gnb .mode-inner {display:table;margin-bottom:.625rem}

/* intro */
#user-gnb .user-intro {display:table-cell;width:50%}
#user-gnb .user-intro, #user-gnb li, #user-gnb a {font-size:.8125rem;color:rgba(0,0,0,.55);line-height:1;letter-spacing:-.06em}
#user-gnb .user-intro > ul > li {display:inline-block;position:relative}
#user-gnb .user-intro > ul > li > a {margin-bottom:0;padding:6px 10px;transition:color .25s ease-out}
#user-gnb .user-intro > ul > li > a:hover {color:rgba(0,0,0,.78);text-decoration:none}

/* intro - 좌측 */
#user-gnb .user-intro.text-left > ul > li > .button {background-color:#fff;border:1px solid rgba(237,32,38,.5);color:rgb(237,32,38) !important;transition:border-color .25s ease-out,background-color .25s ease-out,color .25s ease-out}
#user-gnb .user-intro.text-left > ul > li > .button:hover {background-color:rgb(237,32,38);border:1px solid rgba(237,32,38,1);color:#fff !important}
#user-gnb .user-intro.text-left > ul > li:nth-child(2) > .button {background-color:#fff;border:1px solid rgba(240,114,35,.5);color:rgb(240,114,35) !important}
#user-gnb .user-intro.text-left > ul > li:nth-child(2) > .button:hover {background-color:rgb(240,114,35);border:1px solid rgba(240,114,35,1);color:#fff !important}

/* intro - 우측 */
#user-gnb .user-intro.text-right > ul > li:not(:first-child) > a::before {content:'';position:absolute;left:0;top:3px;width:1px;height:14px;background-color:rgba(0,0,0,.12)}

/* intro
#user-gnb .user-intro {display:block;margin-bottom:.625rem}
#user-gnb .user-intro::after {content:'';display:table;clear:both}
#user-gnb .user-intro > .item {float:left;font-size:.75rem;line-height:1.375;color:rgba(0,0,0,.55)}
#user-gnb .user-intro > .item:not(:first-child)::before {content:'';overflow:hidden;float:left;width:0;height:.625rem;margin:.25rem .625rem 0;border-left:1px solid rgba(0,0,0,.15)}
#user-gnb .user-intro > a.item:hover {color:rgba(0,0,0,.95)} */

/*********************************************
note : 메뉴영역
*********************************************/
/* 기본 */
#user-nav {background-color:#e73f72}
#user-nav > .mode-inner {padding-left:.625rem;padding-right:.625rem}

/* 전체 */
#user-nav .user-allbtn {float:left;margin:.625rem 0 0;width:35px;height:35px;font-size:1.25rem;line-height:1;color:#fff;background-color:rgba(255,255,255,.05);border:1px solid rgba(255,255,255,.25);transition:background-color .3s, border-color .3s}
#user-nav .user-allbtn:hover {background-color:rgba(0,0,0,.05);border-color:rgba(255,255,255,.75)}

/* 메뉴바 - 1차섹션 */
#user-nav .user-menu {float:left;position:relative;padding-left:.625rem;font-size:0;white-space:nowrap;text-align:left}
#user-nav .user-menu .secline {position:relative;display:inline-block;vertical-align:middle}
#user-nav .user-menu .secline > a {overflow:hidden;display:block;position:relative;height:55px;padding:0 1.25rem;font-size:1.125rem;font-weight:500;line-height:55px;color:rgba(255,255,255,.65);text-decoration:none;transition:all .15s ease-in-out}
#user-nav .user-menu .secline > a.a-hover {color:#fff}

/* 메뉴바 - 2차섹션 */
#user-nav .user-menu .secline > ul {overflow:hidden;position:absolute;z-index:1;top:100%;left:0;font-size:0;background-color:#fff;border:1px solid #e73f72;visibility:hidden}
#user-nav .user-menu .secline > ul::after {content:'';display:table;clear:both}
#user-nav .user-menu .secline .sub > a {display:block;overflow:hidden;font-size:.75rem;font-weight:300;color:rgba(0,0,0,.65);text-overflow:ellipsis;white-space:nowrap;text-decoration:none}
#user-nav .user-menu .secline .sub > a.a-sub-hover,
#user-nav .user-menu .secline .sub > a:hover {color:rgba(0,0,0,.95)}

/* 메뉴바 - 2차섹션(가로) */
#header-wrapper.horizon #user-nav .user-menu .secline > ul {width:auto;padding:0 1.25rem;margin-top:-.375rem;white-space:nowrap}
#header-wrapper.horizon #user-nav .user-menu .secline .sub {display:inline-block;position:relative;font-size:0;vertical-align:middle}
#header-wrapper.horizon #user-nav .user-menu .secline .sub:not(:first-child) {margin-left:.75rem;padding-left:.75rem}
#header-wrapper.horizon #user-nav .user-menu .secline .sub:not(:first-child)::before {content:'';overflow:hidden;position:absolute;z-index:1;left:0;top:50%;width:0;height:.625rem;border-left:1px solid rgba(0,0,0,.2);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#header-wrapper.horizon #user-nav .user-menu .secline .sub > a {position:relative;display:block;line-height:32px}

/* 메뉴바 - 2차섹션(세로) */
#header-wrapper.vertical #user-nav .user-menu .secline > ul {border-top:0}
#header-wrapper.vertical #user-nav .user-menu .secline .sub > a {position:relative;padding:0 3.25rem 0 1.25rem;font-size:.813rem;line-height:40px;border-top:1px solid rgba(0,0,0,.05)}
#header-wrapper.vertical #user-nav .user-menu .secline .sub:first-child > a {border-top:0}
#header-wrapper.vertical #user-nav .user-menu .secline .sub > a::before {content:'';position:absolute;z-index:1;top:50%;right:1rem;border:3px solid transparent;-ms-transform:translateY(-50%);transform:translateY(-50%)}
#header-wrapper.vertical #user-nav .user-menu .secline .sub > a.a-sub-hover,
#header-wrapper.vertical #user-nav .user-menu .secline .sub > a:hover {color:rgba(0,0,0,.85);background-color:rgba(0,0,0,.03)}
#header-wrapper.vertical #user-nav .user-menu .secline .sub > a.a-sub-hover::before,
#header-wrapper.vertical #user-nav .user-menu .secline .sub > a:hover::before {border-left-color:rgba(0,0,0,.35)}

/* 메뉴바 - 2차섹션 위치 */
#header-wrapper.left #user-nav .user-menu .secline > ul {left:0}
#header-wrapper.center #user-nav .user-menu .secline > ul {left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%)}
#header-wrapper.right #user-nav .user-menu .secline > ul {left:inherit;right:0}

/*********************************************
note : 메뉴영역 (2차섹션 배경이 slideDown이 되어야 할 경우)
- subShow 옵션값을 hidden으로 설정해주세요.
#header-wrapper.horizon #user-nav::before {content:'';position:absolute;z-index:1;top:100%;width:100%;height:0;border-top:1px solid rgba(0,0,0,.12)}
#header-wrapper.horizon #user-nav::after {content:'';position:absolute;z-index:-1;top:100%;left:0;height:0;-ms-transition:all .15s ease-in-out;transition:all .15s ease-in-out}
#header-wrapper.horizon #user-nav.active::after {height:55px}
*********************************************/

/* etc */
#user-nav .user-etc {float:right;margin-top:.625rem;font-size:0;text-align:right}
#user-nav .user-logbox, #user-nav .user-search {display:inline-block;white-space:nowrap;vertical-align:middle}

/* 로그인 */
#user-nav .user-logbox > .item {display:inline-block;padding:0 .625rem;font-size:.813rem;line-height:23px;color:#fff;background-color:rgba(255,255,255,.1);border:1px solid rgba(255,255,255,.15);text-decoration:none;transition:background-color .3s, border-color .3s}
#user-nav .user-logbox > .item:hover {background-color:rgba(0,0,0,.08);border-color:rgba(255,255,255,.75)}

/* 검색 */
#user-nav .user-search {position:relative;margin-left:.625rem}
#user-nav .user-search .sch-btns {display:block;overflow:hidden;width:35px;height:35px;font-size:1.625rem;line-height:1;color:#fff}
#user-nav .user-search.active .sch-btns > i[class^="icon-"]::before {content:'\e9af'}
#user-nav .user-search-form {display:none;position:absolute;z-index:5;right:2.5rem;top:50%;width:180px;-ms-transform:translateY(-50%);transform:translateY(-50%)}
#user-nav .user-search.active .user-search-form {display:block}
#user-nav .user-search-form input#search {height:35px;margin:0;padding-right:40px;font-size:.75rem;background:#fff;border:none;border-radius:.125rem;box-shadow:none}
#user-nav .user-search-form button[onclick] {position:absolute;z-index:1;right:0;top:0;width:40px;height:35px;font-size:1.375rem;color:#333;cursor:pointer}
